@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


:root {
  --bg: #131415;
  --fg: #ffffff;
  --article: #212121;
  --anchor: #00b0f4;
}

html,
body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  background-color: var(--bg);
  color: var(--fg);
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  border: 0;
	outline: 0;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-style: inherit;
	font-weight: inherit;
  vertical-align: baseline;
}