.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.article {
  max-width: 620px;
  line-height: 1.7;
}

.article h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.9px;
}

.article p {
  font-size: 18px;
  letter-spacing: -0.3px;
}